.footer button{
    background-color: var(--green);
    border-radius: 50px;
    color: #fff;
    font-family: var(--font);
    font-size: 24px;
    padding: 14px 45px;
    outline: none;
    border: none;
    font-weight: 700;
}