@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --orange: #FFD29D;
  --green: #07501B;
  --text-bg: #FFFCF8;
  --font: 'Volkhov', serif;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FFD29D;
  color: #07501B;
  font-family: 'Volkhov', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #07501B;
  text-decoration: none;
}